{% extends "base.html" %}

{% block content %}
<div class='row'>
  <div class='col-12'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning" role="alert">
          {% for message in messages %}
              {{ message }}<br>
          {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('user.process_login') }}" method="post">
      {{ form.hidden_tag() }}
      <br><br>
          <div class="form-group row">
            <label class="col-sm-3 "> {{ form.username.label(class_='col-form-label') }}</label>
            <div class="col-sm-9">
              {{ form.username() }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 "> {{ form.password.label(class_='col-form-label') }}</label>
            <div class="col-sm-9">
              {{ form.password() }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 "> {{ form.order_role.label(class_='col-form-label') }}</label>
            <div class="col-sm-9">
              {{ form.order_role() }}
            </div>
          </div>
                  
                {{ form.submit }}
            </div>
      </form>
  </div>
</div>
{% endblock %} 
