{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning" role="alert">
          {% for message in messages %}
              {{ message }}<br>
          {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

<form action="{{ url_for('user.process_login') }}" method="post">
    <br><br>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Введите адрес электронной почты</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Введите пароль</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary">Войти</button>
        </div>
      </div>
</form>
{% endblock %}  
