{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning" role="alert">
          {% for message in messages %}
              {{ message }}<br>
          {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
<div class='row'>
        <div class='col-4'>
                <h2>Заказ 4 </h2>
        </div>
        <div class='col-8' align="right">
                <form action="{{ url_for('user.contractor_cab') }}" method="post">
                <button type="submit" class="btn btn-info">Назад к моим заказам</button>
                </form>
        </div>
</div>
<div class='row'>
    <div class='col-12'>
        <br>
    </div>
</div>
<div class='row'>
    <div class='col-6'>
            <div class="card" style="width: 18rem;">
                    <img src="https://ap-proekt.ru/upload/iblock/56f/56f6174c0cb0b368b2c6bf3c122b7e4d.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Заказ 1</h5>
                      <p class="card-text">Описание заказа и подробности по его производству.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Заказчик</li>
                            <li class="list-group-item">Дата заказа</li>
                            <li class="list-group-item">Срок работы</li>
                            <li class="list-group-item">Цена</li>
                          </ul>
                      
                    </div>
                  </div>
    </div>
    
    
</div>
<div class='row'>
        <div class='col-12'>
            <br>
        </div>
    </div>
<div class='row'>
        <div class='col-6'>
                <form action="{{ url_for('user.get_file') }}" method="post">
                        <button type="submit" class="btn btn-info btn-lg">Файл модели</button>
                </form>
        </div>
        <div class='col-3' align="right">
                <form action="{{ url_for('user.contractor_cab') }}" method="post">
                <button type="submit" class="btn btn-info btn-lg" style="background-color:rgb(250, 0, 71)">Отклонить</button>
                </form>
        </div>
        <div class='col-3' align="right">
                <form action="{{ url_for('user.order_accepted') }}" method="post">
                <button type="submit" class="btn btn-info btn-lg" style="background-color:rgb(60, 169, 71)">Принять</button>
                </form>
        </div>
</div>
{% endblock %}  
