{% extends "base.html" %}

{% block content %}
<div class='row'>
        <div class='col-12' align="center">
                <div class="alert alert-success" role="alert">
                        <h2>Заказ № успешно принят!</h2> <br>
                      </div>
                <br>  <br>  <br>  <br>  <br>
        </div>
        
</div>

<div class='row'>
        <div class='col-12' align="center">
                <br>  <br>  <br>  <br>  <br>
                <form action="{{ url_for('user.contractor_cab') }}" method="post">
                <button type="submit" class="btn btn-info btn-lg">Назад к моим заказам</button>
                </form>
        </div>
</div>
{% endblock %}  
