{% extends "base.html" %}

{% block content %}
    <h2 align="center" style="color: rgb(51, 88, 211);">Приветствуем Вас на нашем сайте!</h2>
    <div class='row'>
                <div class='col-6' align="center">
                    <form action="{{ url_for('user.login') }}" method="post">
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg">Войти на сайт</button>
                    </form>
                </div>
                <div class='col-6' align="center">
                    <form action="{{ url_for('user.register') }}" method="post">
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg">Зарегестрироваться</button>
                    </form>       
                </div>
    </div>
    
{% endblock %}  

