{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning" role="alert">
          {% for message in messages %}
              {{ message }}<br>
          {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    <br>
<div class='row'>
        <div class='col-3'>
                <form action="{{ url_for('user.load_file') }}" method="post">
                        <button type="submit" class="btn btn-info btn-lg">Загрузите модель</button>
                </form>
                <br>
        </div>
</div>
<div class='row'>
        <div class='col-12'>
            <br>
        </div>
    </div>
<div class='row'>
        <form action="{{ url_for('user.save_new_order') }}" method="post">
                {{ form.hidden_tag() }}
                <div class='col-12'>    
                        
                                <div class="form-group">
                                        <label> {{form.min_price.label()}} </label> <br>
                                        
                                                 {{form.min_price()}}
                                      </div>
                                <div class="form-group">
                                        <label> {{form.max_days.label()}} </label> <br>
                                        
                                                 {{form.max_days()}}
                                </div>
                                      
                                <div class="form-group">
                                        <label> {{form.adress.label()}} </label> <br>
                                        
                                        {{form.adress()}}
                                </div>
                  
                        {{ form.save }}
                <br>
                </div>
                </form>
                <br>
            <br>
            <br>
            <br>
            <br>
        </div>
</div>
{% endblock %}  
