{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning" role="alert">
          {% for message in messages %}
              {{ message }}<br>
          {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
<div class='row'>
        <div class='col-12'>
                {% if ready %}
                <h2>Статус <span class="badge badge-success">Готов к заказам</span></h2>
                {% else %}
                <h2>Статус <span class="badge badge-danger">Не готов к заказам</span></h2>
                {% endif %}
        </div>
       
</div>
<div class='row'>
        <form action="{{ url_for('user.contractor_save') }}" method="post">
        {{ form.hidden_tag() }}
        <div class='col-12'>    
                
                        <div class="form-group">
                                <label> {{form.ready_for_order.label()}} </label> <br>
                                
                                         {{form.ready_for_order()}}
                                         
                        </div>
                        
                        <div class="form-group">
                                <label> {{form.min_price.label()}} </label> <br>
                                
                                         {{form.min_price()}}
                              </div>
                        <div class="form-group">
                                <label> {{form.min_days.label()}} </label> <br>
                                
                                         {{form.min_days()}}
                        </div>
                              
                        <div class="form-group">
                                <label> {{form.adress.label()}} </label> <br>
                                
                                {{form.adress()}}
                        </div>
          
                {{ form.save }}
        <br>
        </div>
        </form>
        <br>
</div>
<div class='row'>
        <form action="{{ url_for('user.contractor_save') }}" method="post">
        {{ form.hidden_tag() }}
        <div class='col-12'><br><br>
                <h2>Новые заказы</h2>      
                {{ form.new_order }}  <!-- не показывать, если отклонен этот заказ -->
                <h2>Принятые заказы</h2>      
                {{ form.order }}
        </div>
        </form>
        <br>
</div>       
{% endblock %}  
